<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="MHibernate.Cfg.ConfigurationSectionHandler,Nhibernate"/>
  </configSections>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <session-factory>
    <property name="connection-provider">NHibernate.Connection.DriverConnectionProvider</property>
    <property name="dialect">NHibernate.Dialect.MSsql2014Dialect</property>
    <property name="query.substituitions">hqlFunction=SQLFUNC</property>
    <property name="connection-driver-class">NHibernate.Driver.sqlClientDriver</property>
    <property name="connection.connection_string">Data Source =(Local);initial Catalog=TesteNHibernate;Integrated Security=True</property>
    <property name="show_sql">true</property>
    <mapping assembly="NHibernateTest"/>
  </session-factory>
</hibernate-configuration>
</configuration>